</main>

<footer class="pink">
  <div>
    <div class="footer_Nav">
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/contact">Contact</a>
    </div>

    <div class="footer_QuickLink">
      <h2>Quick Links</h2>
      <!-- Placeholder for contact links icon -->
    </div>

  </div>

  <p>© <%= year %> Zen Yee — Quietly typed, mindfully shared.</p>
</footer>
</body>

</html>