</main>

<footer class="pink">

  <div class="footer_QuickLink">
    <h2>Quick Links</h2>
    <!-- Placeholder for contact links icon -->
  </div>

  <p>© <%= year %> Zen Yee — Quietly typed, mindfully shared.</p>
</footer>
</body>

</html>