<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">

  <title>Zenlogue</title>
</head>

<body>
  <main>
    <div id="headerBar" class="pink">
      <h1><a href="/">Zenlogue</a></h1>
      <div id="Navigation" >
        <a class="navButton active" href="/">Home</a>
        <a class="navButton" href="/about">About</a>
        <% if(loginStatus === "1") {%>
          <a class="navButton" href="/logout">Log Out</a>
        <% }else{ %>
          <a class="navButton" href="/login">Log In</a>
        <% } %>
      </div>
      
    </div>