<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">

  <title>Zenlogue</title>
</head>

<body>
  <main>

    <div id="Navigation" class="pink">
      <h1>Zenlogue</h1>
      <a class="navButton active">Home</a>
      <a class="navButton">About</a>
      <a class="navButton">Contact</a>
    </div>