<%- include('partials/header.ejs') %>

<div id="mainContainer">
    <div class="aboutMe">
        <h2 class="AboutMe-Title sec-Title">About Me</h2>
        <p>
            Hi, I’m Zen—a self-taught web developer on a mindful journey to become a full-stack builder. 
            I enjoy exploring new technologies, experimenting with code, and sharing every “aha” moment along the way.
            <br>
            <br>
            I am looking for opportunities to work and colaborate.Feel free to contact me via the link below:
        </p>

        
        <div class="AboutMe-Contact">
            <a href="https://github.com/Zen-Yee"><img src="/github logo.png"></a>
            <a href="www.linkedin.com/in/qian-hui-yee-66a394205"><img src="/linkedin logo.png"></a> 
                <!--<img src="./Assets/mail_icon.png"> -->
                <!--Download Resume Link-->
        </div>
    </div>

</div>

<%- include('partials/footer.ejs') %>