/* *{
    margin: 0px;
    padding: 0px;
}

#mainContainer{
    width:100%;
    height: calc(100vh - 50px);
}

.pink{
    width:100%;
    height:50px;
    background-color: hotpink;
}

#Navigation{
    display: flex;
    justify-content:flex-end;
}

#Navigation a{
    float: left;
    text-align: center;
    text-decoration: none; /*remove hyperlink underline*/
    /* height:100%;
    padding:11px 12px 0px 12px;
    display: block;
    color: black;
} */ 
